In [9]:
!pip install pandas geopandas geoalchemy2 psycopg2-binary osmnx

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: geopandas in /opt/conda/lib/python3.11/site-packages (0.14.3)
Requirement already satisfied: geoalchemy2 in /opt/conda/lib/python3.11/site-packages (0.14.6)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Collecting osmnx
  Downloading osmnx-1.9.1-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: fiona>=1.8.21 in /opt/conda/lib/python3.11/site-packages (from geopandas) (1.9.6)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from geopandas) (23.2)
Requirement already satisfied: pyproj>=3.3.0 in /opt/conda/lib/python3.11/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in /opt/conda/lib/python3.11/site-packages (from geopandas) (2.0.3)
Requirement already satisfied: SQLAlchemy>=1.4 in /opt/conda/lib/python3.11/site-packages (from geoalchemy2) (2.0.22)
Collecting networkx>=2.5 (from osmnx)
  Downloading networkx-3.2.1-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: requests>=2.27 in /opt/conda/lib/python3.11/site-packages (from osmnx) (2.31.0)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (23.1.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from SQLAlchemy>=1.4->geoalchemy2) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from SQLAlchemy>=1.4->geoalchemy2) (3.0.0)
Downloading osmnx-1.9.1-py3-none-any.whl (104 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 104.3/104.3 kB 290.4 kB/s eta 0:00:00a 0:00:01
Downloading networkx-3.2.1-py3-none-any.whl (1.6 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.6/1.6 MB 1.1 MB/s eta 0:00:00a 0:00:010m
Installing collected packages: networkx, osmnx
Successfully installed networkx-3.2.1 osmnx-1.9.1

In [3]:
import geopandas as gpd

In [4]:
buildings = gpd.read_file("nsk_buildings.geojson")
buildings

,index,name,address,lat,lon,geometry
0,4,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ —É–ª–∏—Ü–∞ –í–æ—Ä–æ—à–∏–ª–æ–≤–∞ 26,53.089450,49.993402,POINT (49.99340 53.08945)
1,5,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ —É–ª–∏—Ü–∞ –í–æ—Ä–æ—à–∏–ª–æ–≤–∞ 30,53.089518,49.994677,POINT (49.99468 53.08952)
2,6,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ø—Ä–æ—Å–ø–µ–∫—Ç –ü–æ–±–µ–¥—ã 49–ê,53.088754,49.992905,POINT (49.99291 53.08875)
3,7,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ø—Ä–æ—Å–ø–µ–∫—Ç –ü–æ–±–µ–¥—ã 45,53.089253,49.991439,POINT (49.99144 53.08925)
4,8,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ —É–ª–∏—Ü–∞ –í–æ—Ä–æ—à–∏–ª–æ–≤–∞ 28,53.090179,49.994332,POINT (49.99433 53.09018)
...,...,...,...,...,...,...
7610,6251,None,"Chistyy proyezd, 14-–ë, Novokuybyshevsk",53.153325,49.959231,POINT (49.95923 53.15332)
7611,6256,None,"Grannaya ulitsa, 16, Novokuybyshevsk",53.154632,49.958222,POINT (49.95822 53.15463)
7612,6257,None,"2-ya Naberezhnaya ulitsa, 6–ê, Novokuybyshevsk",53.154582,49.960097,POINT (49.96010 53.15458)
7613,6260,None,"2-ya Naberezhnaya ulitsa, 4–ê, Novokuybyshevsk",53.154450,49.960806,POINT (49.96081 53.15445)
7614,6263,None,"2-ya Naberezhnaya ulitsa, 10–ê, Novokuybyshevsk",53.154953,49.960887,POINT (49.96089 53.15495)

In [66]:
buildings[buildings["address"] == "–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ó–µ–º–ª—è–Ω–∏—á–Ω–∞—è —É–ª–∏—Ü–∞ 58"]

,index,name,address,lat,lon,centroid
3777,3777,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ó–µ–º–ª—è–Ω–∏—á–Ω–∞—è —É–ª–∏—Ü–∞ 58,53.146447,49.944567,POINT (49.94457 53.14645)

In [45]:
length = buildings.shape[0] // 4
length

1903

In [50]:
buildings[2377: length*2]

,index,name,address,lat,lon,centroid
2377,2377,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ñ–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–∞—è —É–ª–∏—Ü–∞ 37–ê,53.101274,49.983111,POINT (49.98311 53.10127)
2378,2378,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ñ–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–∞—è —É–ª–∏—Ü–∞ 33,53.101295,49.982303,POINT (49.98230 53.10130)
2379,2379,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ñ–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–∞—è —É–ª–∏—Ü–∞ 1,53.104072,49.978385,POINT (49.97838 53.10407)
2380,2380,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ñ–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–∞—è —É–ª–∏—Ü–∞ 1–ë,53.103988,49.978555,POINT (49.97856 53.10399)
2381,2381,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ñ–µ–ª–µ–∑–Ω–æ–¥–æ—Ä–æ–∂–Ω–∞—è —É–ª–∏—Ü–∞ 1–ê,53.103743,49.979083,POINT (49.97908 53.10374)
...,...,...,...,...,...,...
3801,3801,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –Ø—Å–µ–Ω–µ–≤–∞—è —É–ª–∏—Ü–∞ 74,53.148105,49.947366,POINT (49.94737 53.14810)
3802,3802,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –Ø—Å–µ–Ω–µ–≤–∞—è —É–ª–∏—Ü–∞ 65,53.149012,49.949919,POINT (49.94992 53.14901)
3803,3803,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –Ø—Å–µ–Ω–µ–≤–∞—è —É–ª–∏—Ü–∞ 61,53.149364,49.950833,POINT (49.95083 53.14936)
3804,3804,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –ó–µ–º–ª—è–Ω–∏—á–Ω–∞—è —É–ª–∏—Ü–∞ 3,53.148840,49.951913,POINT (49.95191 53.14884)
3805,3805,None,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫ –õ–æ–∫–æ–º–æ—Ç–∏–≤–Ω–∞—è —É–ª–∏—Ü–∞ 4–ê,53.148514,49.952038,POINT (49.95204 53.14851)

In [17]:
buildings = buildings.rename(columns={"geometry": "centroid"}).set_geometry("centroid")

In [19]:
buildings["index"] = buildings.index

In [22]:
from sqlalchemy import create_engine
from geoalchemy2 import Geometry
import pandas as pd

import osmnx as ox

In [11]:
engine = create_engine(f"postgresql://docker:docker@postgis:5432/gis")

In [20]:
buildings.to_postgis(
            "buildings", engine, if_exists="append", index=False, dtype={"centroid": Geometry("POINT", srid=4326)}
        )

In [23]:
posts = pd.read_csv("nsk_posts.csv")
posts

,Unnamed: 0,post,group_name,date
0,0,–í—Å–µ–º –¥–æ–±—Ä–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏ —Å—É—Ç–æ–∫! –°–µ–≥–æ–¥–Ω—è 24.02.24–≥ ...,blacklist_nsk_official,1708792205
1,1,–í –ø—Ä–µ–¥–¥–≤–µ—Ä–∏–∏ –î–Ω—è –∑–∞—â–∏—Ç–Ω–∏–∫–∞ –û—Ç–µ—á–µ—Å—Ç–≤–∞ –î–º–∏—Ç—Ä–∏–π –ê...,blacklist_nsk_official,1708619740
2,2,–ü–∞—Ä–∫ –ü–∞—Ç—Ä–∏–æ—Ç!!! –ù–µ—Ç –æ—Å–≤–µ—â–µ–Ω–∏—è –ø–æ –≤—Ç–æ—Ä–æ–π –ª–µ—Å—Ç–Ω–∏...,blacklist_nsk_official,1708677897
3,3,"–ö—É–ø–∏–ª–∏ –≤—á–µ—Ä–∞ –≤ –ø–µ–∫–∞—Ä–Ω–µ ""–ë–∏–∫–æ"" –Ω–∞ –ú–∏—Ä–æ–Ω–æ–≤–∞, 3 –¥...",blacklist_nsk_official,1708677929
4,4,"–•–æ—Ç–µ–ª–∏ –±—ã –ø—Ä–µ–¥–æ—Å—Ç–µ—Ä–µ—á—å –∏ –ø–æ–∫–∞–∑–∞—Ç—å —á–µ–ª–æ–≤–µ–∫–∞, –∫–æ...",blacklist_nsk_official,1708703435
...,...,...,...,...
1244,14386,–ñ–∞–∫–µ—Ç-4618\n–ê—Ä—Ç.: 4618\n–¶–µ–Ω–∞: 2¬†970 —Ä—É–±.\n–†–∞–∑–º...,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,1709337600
1245,14387,Original: https://derpicdn.net/img/2024/2/28/3...,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,1709337600
1246,14437,‚≠ê üíò ‚≠ê –õ—é–±–æ–≤—å - —ç—Ç–æ –Ω–∞—Ö–æ–¥–∏—Ç—å –≤ —Å—á–∞—Å—Ç—å–µ –¥—Ä—É–≥–æ–≥–æ ...,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,1710028249
1247,14438,"‚≠ê üíò ‚≠ê –õ—é–±–æ–≤—å ‚Äì —ç—Ç–æ –∏–≥—Ä–∞, –≤ –∫–æ—Ç–æ—Ä—É—é –º–æ–≥—É—Ç –∏–≥—Ä–∞—Ç...",–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,1710024591
1248,14439,"–î–æ–±—Ä–æ–π –Ω–æ—á–∏, –°–∞–º–∞—Ä–∞‚ú®\n\n[club224507479|–ß–ï–†–ù–´–ô ...",–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,1710023070

In [25]:
posts[["post", "group_name", "date"]].to_sql(
            "posts", engine, if_exists="append", index=False
        )

249

In [26]:
reviews = gpd.read_file("nsk_reviews.geojson")
reviews

,review,place,date,geometry
0,"–£—é—Ç–Ω–æ, —Å–≤–µ—Ç–ª–æ, —Ç–µ–ø–ª–æ, –∏ —ç—Ç–æ –ø—Ä–æ –∞—Ç–º–æ—Å—Ñ–µ—Ä—É –≤ —ç—Ç...",–•—Ä–∞–º –ú–∞—Ç—Ä–æ–Ω—ã –ú–æ—Å–∫–æ–≤—Å–∫–æ–π,24 —Ñ–µ–≤—Ä–∞–ª—è,POINT (49.93999 53.16488)
1,"–£—é—Ç–Ω–æ, —Å–≤–µ—Ç–ª–æ, —Ç–µ–ø–ª–æ, –∏ —ç—Ç–æ –ø—Ä–æ –∞—Ç–º–æ—Å—Ñ–µ—Ä—É –≤ —ç—Ç...",–•—Ä–∞–º –ú–∞—Ç—Ä–æ–Ω—ã –ú–æ—Å–∫–æ–≤—Å–∫–æ–π,24 —Ñ–µ–≤—Ä–∞–ª—è,POINT (49.93999 53.16488)
2,–ö–ª–∞—Å–Ω—ã–π,–ü—Ä–æ–¥—É–∫—Ç—ã,26 —è–Ω–≤–∞—Ä—è,POINT (49.94686 53.15879)
3,–ö–ª–∞—Å–Ω—ã–π,–ü—Ä–æ–¥—É–∫—Ç—ã,26 —è–Ω–≤–∞—Ä—è,POINT (49.94686 53.15879)
4,–¶–µ–Ω—ã –¥–æ—Ä–æ–∂–µ —á–µ–º –≤ –≥–æ—Ä–æ–¥–µ.,–ú–∞–≥–Ω–∏—Ç,31 —è–Ω–≤–∞—Ä—è,POINT (49.94761 53.15951)
...,...,...,...,...
4872,–°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –ú–§–¶. –û—á–µ—Ä–µ–¥–µ–π –Ω–µ—Ç.,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,5 –º–∞—Ä—Ç–∞,POINT (49.96432 53.08470)
4873,–°–¥–∞–≤–∞–ª–∞ –¥–æ–∫—É–º–µ–Ω—Ç—ã –Ω–∞ –ø—Ä–∏–≤–∞—Ç–∏–∑–∞—Ü–∏—é. –≤—Å–µ —Ä–∞–±–æ—Ç–Ω–∏...,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,5 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)
4874,–û—á–µ–Ω—å —Ö–æ—á–µ—Ç—Å—è –æ—Å—Ç–∞–≤–∏—Ç—å –æ—Ç–∑—ã–≤ —Å–æ —Å–ª–æ–≤–∞–º–∏ –±–ª–∞–≥–æ–¥...,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,23 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)
4875,"–í–æ–∑–ª–µ –∑–¥–∞–Ω–∏—è –Ω–µ —á–∏—Å—Ç—è—Ç —Å–Ω–µ–≥, –Ω–∞ –∞–≤—Ç–æ –Ω–µ –ø—Ä–∏–ø–æ—Ä...",–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,28 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)
4876,–°–Ω–µ–≥ –Ω–µ —á–∏—Å—Ç—è—Ç. –°–æ —Å—Ç–æ—è–Ω–∫–æ–π –±–∞—Ä–¥–∞–∫ –º–∞—à–∏–Ω—ã —Å—Ç–∞–≤...,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,29 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)

In [27]:
reviews = reviews.rename(columns={"geometry": "location"}).set_geometry("location")

In [28]:
reviews.to_postgis(
            "reviews", engine, if_exists="append", index=False, dtype={"location": Geometry("POINT", srid=4326)}
        )

In [29]:
new_posts = pd.read_sql("select * from posts", con=engine)

In [30]:
new_posts = new_posts.drop_duplicates()

In [31]:
new_posts

,group_name,post,date
0,vestinsk,–í –ì–æ—Å–¥—É–º–µ –ø—Ä–µ–¥–ª–æ–∂–∏–ª–∏ –∑–∞–ø—Ä–µ—Ç–∏—Ç—å –º–∞–≥–∞–∑–∏–Ω–∞–º –ø–æ–≤—ã—à...,1710061526
1,vestinsk,ü•û–í–ø–µ—Ä–µ–¥–∏ ‚Äî –±–ª–∏–Ω–Ω–∞—è –Ω–µ–¥–µ–ª—è. –í –†–æ—Å—Å–∏–∏ –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è...,1710057604
2,vestinsk,"–°–µ–≥–æ–¥–Ω—è, 9 –º–∞—Ä—Ç–∞, –ì–µ—Ä–æ–π –°–æ–≤–µ—Ç—Å–∫–æ–≥–æ –°–æ—é–∑–∞ –Æ—Ä–∏–π ...",1710005400
3,vestinsk,–ê–Ω–æ–Ω–∏–º–Ω–æ. \n–î–æ–±—Ä—ã–π –¥–µ–Ω—å! \n–ü–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è–º –≤ ...,1710000600
4,vestinsk,"–ú—ã ‚Äì —Å–∞–º–∞—Ä—Ü—ã, –º—ã –≤–º–µ—Å—Ç–µ, –º—ã ‚Äì –∑–∞ –†–æ—Å—Å–∏—é. –¢–∞–∫ —Å...",1709992803
...,...,...,...
15474,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,–ñ–∞–∫–µ—Ç-4618\n–ê—Ä—Ç.: 4618\n–¶–µ–Ω–∞: 2¬†970 —Ä—É–±.\n–†–∞–∑–º...,1709337600
15475,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,Original: https://derpicdn.net/img/2024/2/28/3...,1709337600
15476,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,‚≠ê üíò ‚≠ê –õ—é–±–æ–≤—å - —ç—Ç–æ –Ω–∞—Ö–æ–¥–∏—Ç—å –≤ —Å—á–∞—Å—Ç—å–µ –¥—Ä—É–≥–æ–≥–æ ...,1710028249
15477,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,"‚≠ê üíò ‚≠ê –õ—é–±–æ–≤—å ‚Äì —ç—Ç–æ –∏–≥—Ä–∞, –≤ –∫–æ—Ç–æ—Ä—É—é –º–æ–≥—É—Ç –∏–≥—Ä–∞—Ç...",1710024591
15478,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,"–î–æ–±—Ä–æ–π –Ω–æ—á–∏, –°–∞–º–∞—Ä–∞‚ú®\n\n[club224507479|–ß–ï–†–ù–´–ô ...",1710023070

In [32]:
new_posts.to_sql(
            "posts", engine, if_exists="replace", index=False
        )

809

In [69]:
posts = pd.read_sql("select * from posts order by group_name", con=engine)
posts

,group_name,post,date
0,blacklist_nsk_official,"–•–æ—Ç–µ–ª–∏ –±—ã –ø—Ä–µ–¥–æ—Å—Ç–µ—Ä–µ—á—å –∏ –ø–æ–∫–∞–∑–∞—Ç—å —á–µ–ª–æ–≤–µ–∫–∞, –∫–æ...",1708703435
1,blacklist_nsk_official,–í –ø—Ä–µ–¥–¥–≤–µ—Ä–∏–∏ –î–Ω—è –∑–∞—â–∏—Ç–Ω–∏–∫–∞ –û—Ç–µ—á–µ—Å—Ç–≤–∞ –î–º–∏—Ç—Ä–∏–π –ê...,1708619740
2,blacklist_nsk_official,‚ùó–¢–û–õ–¨–ö–û 13 –ú–ê–†–¢–ê ‚ùó üé™ –¶–ò–†–ö–û–í–û–ï –®–û–£ ¬´–ó–í–Å–ó–î–ù–´–ô –ö–ê...,1709547306
3,blacklist_nsk_official,"–°–æ–±—Å—Ç–≤–µ–Ω–Ω–∏–∫ –æ—Ç–∑–æ–≤–∏—Å—å, –∏ —Å–æ–±–µ—Ä–∏ —Å–≤–æ–π –º—É—Å–æ—Ä! –ó–∞—á...",1709289734
4,blacklist_nsk_official,–ü–∞—Ä–∫ –ü–∞—Ç—Ä–∏–æ—Ç!!! –ù–µ—Ç –æ—Å–≤–µ—â–µ–Ω–∏—è –ø–æ –≤—Ç–æ—Ä–æ–π –ª–µ—Å—Ç–Ω–∏...,1708677897
...,...,...,...
1958,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,–ù–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏–µ: —É–¥–ª–∏–Ω–µ–Ω–Ω–æ–µ –ø–∞–ª—å—Ç–æ\n–¶–µ–Ω–∞: 3550 —Ä—É...,1709424000
1959,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,"–¶–µ–Ω–∞: 2750—Ä—É–±.\n–†–∞–∑–º–µ—Ä—ã: 180—Ö80 —Å–º,80—Ö180 —Å–º\n...",1709424000
1960,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,–¢—é–ª—å\n–¶–µ–Ω–∞: 1700—Ä—É–±.\n–ê—Ä—Ç: 2–ë-05–ê\n–†–∞–∑–º–µ—Ä—ã: 3—Ö...,1709424000
1961,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,"–ö–æ–ª–≥–æ—Ç–∫–∏\n–¶–µ–Ω–∞: 700—Ä—É–±.\n–†–∞–∑–º–µ—Ä—ã: 42,44,46,48\...",1709424000
1962,–ù–æ–≤–æ–∫—É–π–±—ã—à–µ–≤—Å–∫,Original: https://live.staticflickr.com/65535/...,1709424000

In [71]:
posts.drop_duplicates().to_csv("final_posts_nsk.csv")

In [73]:
reviews = gpd.read_postgis("select * from reviews order by location", con=engine, geom_col="location")
reviews

,place,review,date,location
0,–•—Ä–∞–º –ú–∞—Ç—Ä–æ–Ω—ã –ú–æ—Å–∫–æ–≤—Å–∫–æ–π,"–£—é—Ç–Ω–æ, —Å–≤–µ—Ç–ª–æ, —Ç–µ–ø–ª–æ, –∏ —ç—Ç–æ –ø—Ä–æ –∞—Ç–º–æ—Å—Ñ–µ—Ä—É –≤ —ç—Ç...",24 —Ñ–µ–≤—Ä–∞–ª—è,POINT (49.93999 53.16488)
1,–•—Ä–∞–º –ú–∞—Ç—Ä–æ–Ω—ã –ú–æ—Å–∫–æ–≤—Å–∫–æ–π,"–£—é—Ç–Ω–æ, —Å–≤–µ—Ç–ª–æ, —Ç–µ–ø–ª–æ, –∏ —ç—Ç–æ –ø—Ä–æ –∞—Ç–º–æ—Å—Ñ–µ—Ä—É –≤ —ç—Ç...",24 —Ñ–µ–≤—Ä–∞–ª—è,POINT (49.93999 53.16488)
2,–ü—Ä–æ–¥—É–∫—Ç—ã,–ö–ª–∞—Å–Ω—ã–π,26 —è–Ω–≤–∞—Ä—è,POINT (49.94686 53.15879)
3,–ü—Ä–æ–¥—É–∫—Ç—ã,–ö–ª–∞—Å–Ω—ã–π,26 —è–Ω–≤–∞—Ä—è,POINT (49.94686 53.15879)
4,–ú–∞–≥–Ω–∏—Ç,"–•–æ—Ä–æ—à–æ, —á—Ç–æ –æ—Ç–∫—Ä—ã–ª–∏",24 —è–Ω–≤–∞—Ä—è,POINT (49.94761 53.15951)
...,...,...,...,...
6046,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,–û—á–µ–Ω—å —Ö–æ—á–µ—Ç—Å—è –æ—Å—Ç–∞–≤–∏—Ç—å –æ—Ç–∑—ã–≤ —Å–æ —Å–ª–æ–≤–∞–º–∏ –±–ª–∞–≥–æ–¥...,23 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)
6047,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,"–í–æ–∑–ª–µ –∑–¥–∞–Ω–∏—è –Ω–µ —á–∏—Å—Ç—è—Ç —Å–Ω–µ–≥, –Ω–∞ –∞–≤—Ç–æ –Ω–µ –ø—Ä–∏–ø–æ—Ä...",28 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)
6048,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,–°–Ω–µ–≥ –Ω–µ —á–∏—Å—Ç—è—Ç. –°–æ —Å—Ç–æ—è–Ω–∫–æ–π –±–∞—Ä–¥–∞–∫ –º–∞—à–∏–Ω—ã —Å—Ç–∞–≤...,29 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)
6049,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,"–¢–∞–∫ —Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ,–Ω–æ –Ω–µ –ø–æ–ª—å–∑—É–π—Ç–µ—Å—å —É—Å–ª—É–≥–∞–º–∏ —é—Ä...",29 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)
6050,–ú–§–¶ –ú–æ–∏ –¥–æ–∫—É–º–µ–Ω—Ç—ã,"–ö—É–ª—å—Ç—É—Ä–Ω—ã–π, –¥–æ–±—Ä–æ–∂–µ–ª–∞—Ç–µ–ª—å–Ω—ã–π –ø–µ—Ä—Å–æ–Ω–∞–ª. –°–¥–µ–ª–∞–ª–∏...",2 —è–Ω–≤–∞—Ä—è,POINT (49.96432 53.08470)

In [75]:
reviews.drop_duplicates().to_file("final_reviews_nsk.geojson", driver="GeoJSON")