In [9]:
!pip install pandas geopandas geoalchemy2 psycopg2-binary osmnx

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: geopandas in /opt/conda/lib/python3.11/site-packages (0.14.3)
Requirement already satisfied: geoalchemy2 in /opt/conda/lib/python3.11/site-packages (0.14.6)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Collecting osmnx
  Downloading osmnx-1.9.1-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: fiona>=1.8.21 in /opt/conda/lib/python3.11/site-packages (from geopandas) (1.9.6)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from geopandas) (23.2)
Requirement already satisfied: pyproj>=3.3.0 in /opt/conda/lib/python3.11/site-packages (from geopandas) (3.6.1)
Requirement already satisfied: shapely>=1.8.0 in /opt/conda/lib/python3.11/site-packages (from geopandas) (2.0.3)
Requirement already satisfied: SQLAlchemy>=1.4 in /opt/conda/lib/python3.11/site-packages (from geoalchemy2) (2.0.22)
Collecting networkx>=2.5 (from osmnx)
  Downloading networkx-3.2.1-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: requests>=2.27 in /opt/conda/lib/python3.11/site-packages (from osmnx) (2.31.0)
Requirement already satisfied: attrs>=19.2.0 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (23.1.0)
Requirement already satisfied: certifi in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (2023.7.22)
Requirement already satisfied: click~=8.0 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (0.7.2)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from SQLAlchemy>=1.4->geoalchemy2) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from SQLAlchemy>=1.4->geoalchemy2) (3.0.0)
Downloading osmnx-1.9.1-py3-none-any.whl (104 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 104.3/104.3 kB 290.4 kB/s eta 0:00:00a 0:00:01
Downloading networkx-3.2.1-py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 1.1 MB/s eta 0:00:00a 0:00:010m
Installing collected packages: networkx, osmnx
Successfully installed networkx-3.2.1 osmnx-1.9.1

In [3]:
import geopandas as gpd

In [4]:
buildings = gpd.read_file("nsk_buildings.geojson")
buildings

,index,name,address,lat,lon,geometry
0,4,None,Новокуйбышевск улица Ворошилова 26,53.089450,49.993402,POINT (49.99340 53.08945)
1,5,None,Новокуйбышевск улица Ворошилова 30,53.089518,49.994677,POINT (49.99468 53.08952)
2,6,None,Новокуйбышевск проспект Победы 49А,53.088754,49.992905,POINT (49.99291 53.08875)
3,7,None,Новокуйбышевск проспект Победы 45,53.089253,49.991439,POINT (49.99144 53.08925)
4,8,None,Новокуйбышевск улица Ворошилова 28,53.090179,49.994332,POINT (49.99433 53.09018)
...,...,...,...,...,...,...
7610,6251,None,"Chistyy proyezd, 14-Б, Novokuybyshevsk",53.153325,49.959231,POINT (49.95923 53.15332)
7611,6256,None,"Grannaya ulitsa, 16, Novokuybyshevsk",53.154632,49.958222,POINT (49.95822 53.15463)
7612,6257,None,"2-ya Naberezhnaya ulitsa, 6А, Novokuybyshevsk",53.154582,49.960097,POINT (49.96010 53.15458)
7613,6260,None,"2-ya Naberezhnaya ulitsa, 4А, Novokuybyshevsk",53.154450,49.960806,POINT (49.96081 53.15445)
7614,6263,None,"2-ya Naberezhnaya ulitsa, 10А, Novokuybyshevsk",53.154953,49.960887,POINT (49.96089 53.15495)

In [66]:
buildings[buildings["address"] == "Новокуйбышевск Земляничная улица 58"]

,index,name,address,lat,lon,centroid
3777,3777,None,Новокуйбышевск Земляничная улица 58,53.146447,49.944567,POINT (49.94457 53.14645)

In [45]:
length = buildings.shape[0] // 4
length

1903

In [50]:
buildings[2377: length*2]

,index,name,address,lat,lon,centroid
2377,2377,None,Новокуйбышевск Железнодорожная улица 37А,53.101274,49.983111,POINT (49.98311 53.10127)
2378,2378,None,Новокуйбышевск Железнодорожная улица 33,53.101295,49.982303,POINT (49.98230 53.10130)
2379,2379,None,Новокуйбышевск Железнодорожная улица 1,53.104072,49.978385,POINT (49.97838 53.10407)
2380,2380,None,Новокуйбышевск Железнодорожная улица 1Б,53.103988,49.978555,POINT (49.97856 53.10399)
2381,2381,None,Новокуйбышевск Железнодорожная улица 1А,53.103743,49.979083,POINT (49.97908 53.10374)
...,...,...,...,...,...,...
3801,3801,None,Новокуйбышевск Ясеневая улица 74,53.148105,49.947366,POINT (49.94737 53.14810)
3802,3802,None,Новокуйбышевск Ясеневая улица 65,53.149012,49.949919,POINT (49.94992 53.14901)
3803,3803,None,Новокуйбышевск Ясеневая улица 61,53.149364,49.950833,POINT (49.95083 53.14936)
3804,3804,None,Новокуйбышевск Земляничная улица 3,53.148840,49.951913,POINT (49.95191 53.14884)
3805,3805,None,Новокуйбышевск Локомотивная улица 4А,53.148514,49.952038,POINT (49.95204 53.14851)

In [17]:
buildings = buildings.rename(columns={"geometry": "centroid"}).set_geometry("centroid")

In [19]:
buildings["index"] = buildings.index

In [22]:
from sqlalchemy import create_engine
from geoalchemy2 import Geometry
import pandas as pd

import osmnx as ox

In [11]:
engine = create_engine(f"postgresql://docker:docker@postgis:5432/gis")

In [20]:
buildings.to_postgis(
            "buildings", engine, if_exists="append", index=False, dtype={"centroid": Geometry("POINT", srid=4326)}
        )

In [23]:
posts = pd.read_csv("nsk_posts.csv")
posts

,Unnamed: 0,post,group_name,date
0,0,Всем доброго времени суток! Сегодня 24.02.24г ...,blacklist_nsk_official,1708792205
1,1,В преддверии Дня защитника Отечества Дмитрий А...,blacklist_nsk_official,1708619740
2,2,Парк Патриот!!! Нет освещения по второй лестни...,blacklist_nsk_official,1708677897
3,3,"Купили вчера в пекарне ""Бико"" на Миронова, 3 д...",blacklist_nsk_official,1708677929
4,4,"Хотели бы предостеречь и показать человека, ко...",blacklist_nsk_official,1708703435
...,...,...,...,...
1244,14386,Жакет-4618\nАрт.: 4618\nЦена: 2 970 руб.\nРазм...,Новокуйбышевск,1709337600
1245,14387,Original: https://derpicdn.net/img/2024/2/28/3...,Новокуйбышевск,1709337600
1246,14437,⭐ 💘 ⭐ Любовь - это находить в счастье другого ...,Новокуйбышевск,1710028249
1247,14438,"⭐ 💘 ⭐ Любовь – это игра, в которую могут играт...",Новокуйбышевск,1710024591
1248,14439,"Доброй ночи, Самара✨\n\n[club224507479|ЧЕРНЫЙ ...",Новокуйбышевск,1710023070

In [25]:
posts[["post", "group_name", "date"]].to_sql(
            "posts", engine, if_exists="append", index=False
        )

249

In [26]:
reviews = gpd.read_file("nsk_reviews.geojson")
reviews

,review,place,date,geometry
0,"Уютно, светло, тепло, и это про атмосферу в эт...",Храм Матроны Московской,24 февраля,POINT (49.93999 53.16488)
1,"Уютно, светло, тепло, и это про атмосферу в эт...",Храм Матроны Московской,24 февраля,POINT (49.93999 53.16488)
2,Класный,Продукты,26 января,POINT (49.94686 53.15879)
3,Класный,Продукты,26 января,POINT (49.94686 53.15879)
4,Цены дороже чем в городе.,Магнит,31 января,POINT (49.94761 53.15951)
...,...,...,...,...
4872,Стандартное МФЦ. Очередей нет.,МФЦ Мои документы,5 марта,POINT (49.96432 53.08470)
4873,Сдавала документы на приватизацию. все работни...,МФЦ Мои документы,5 января,POINT (49.96432 53.08470)
4874,Очень хочется оставить отзыв со словами благод...,МФЦ Мои документы,23 января,POINT (49.96432 53.08470)
4875,"Возле здания не чистят снег, на авто не припор...",МФЦ Мои документы,28 января,POINT (49.96432 53.08470)
4876,Снег не чистят. Со стоянкой бардак машины став...,МФЦ Мои документы,29 января,POINT (49.96432 53.08470)

In [27]:
reviews = reviews.rename(columns={"geometry": "location"}).set_geometry("location")

In [28]:
reviews.to_postgis(
            "reviews", engine, if_exists="append", index=False, dtype={"location": Geometry("POINT", srid=4326)}
        )

In [29]:
new_posts = pd.read_sql("select * from posts", con=engine)

In [30]:
new_posts = new_posts.drop_duplicates()

In [31]:
new_posts

,group_name,post,date
0,vestinsk,В Госдуме предложили запретить магазинам повыш...,1710061526
1,vestinsk,🥞Впереди — блинная неделя. В России начинается...,1710057604
2,vestinsk,"Сегодня, 9 марта, Герой Советского Союза Юрий ...",1710005400
3,vestinsk,Анонимно. \nДобрый день! \nПо рекомендациям в ...,1710000600
4,vestinsk,"Мы – самарцы, мы вместе, мы – за Россию. Так с...",1709992803
...,...,...,...
15474,Новокуйбышевск,Жакет-4618\nАрт.: 4618\nЦена: 2 970 руб.\nРазм...,1709337600
15475,Новокуйбышевск,Original: https://derpicdn.net/img/2024/2/28/3...,1709337600
15476,Новокуйбышевск,⭐ 💘 ⭐ Любовь - это находить в счастье другого ...,1710028249
15477,Новокуйбышевск,"⭐ 💘 ⭐ Любовь – это игра, в которую могут играт...",1710024591
15478,Новокуйбышевск,"Доброй ночи, Самара✨\n\n[club224507479|ЧЕРНЫЙ ...",1710023070

In [32]:
new_posts.to_sql(
            "posts", engine, if_exists="replace", index=False
        )

809

In [69]:
posts = pd.read_sql("select * from posts order by group_name", con=engine)
posts

,group_name,post,date
0,blacklist_nsk_official,"Хотели бы предостеречь и показать человека, ко...",1708703435
1,blacklist_nsk_official,В преддверии Дня защитника Отечества Дмитрий А...,1708619740
2,blacklist_nsk_official,❗ТОЛЬКО 13 МАРТА ❗ 🎪 ЦИРКОВОЕ ШОУ «ЗВЁЗДНЫЙ КА...,1709547306
3,blacklist_nsk_official,"Собственник отзовись, и собери свой мусор! Зач...",1709289734
4,blacklist_nsk_official,Парк Патриот!!! Нет освещения по второй лестни...,1708677897
...,...,...,...
1958,Новокуйбышевск,Наименование: удлиненное пальто\nЦена: 3550 ру...,1709424000
1959,Новокуйбышевск,"Цена: 2750руб.\nРазмеры: 180х80 см,80х180 см\n...",1709424000
1960,Новокуйбышевск,Тюль\nЦена: 1700руб.\nАрт: 2Б-05А\nРазмеры: 3х...,1709424000
1961,Новокуйбышевск,"Колготки\nЦена: 700руб.\nРазмеры: 42,44,46,48\...",1709424000
1962,Новокуйбышевск,Original: https://live.staticflickr.com/65535/...,1709424000

In [71]:
posts.drop_duplicates().to_csv("final_posts_nsk.csv")

In [73]:
reviews = gpd.read_postgis("select * from reviews order by location", con=engine, geom_col="location")
reviews

,place,review,date,location
0,Храм Матроны Московской,"Уютно, светло, тепло, и это про атмосферу в эт...",24 февраля,POINT (49.93999 53.16488)
1,Храм Матроны Московской,"Уютно, светло, тепло, и это про атмосферу в эт...",24 февраля,POINT (49.93999 53.16488)
2,Продукты,Класный,26 января,POINT (49.94686 53.15879)
3,Продукты,Класный,26 января,POINT (49.94686 53.15879)
4,Магнит,"Хорошо, что открыли",24 января,POINT (49.94761 53.15951)
...,...,...,...,...
6046,МФЦ Мои документы,Очень хочется оставить отзыв со словами благод...,23 января,POINT (49.96432 53.08470)
6047,МФЦ Мои документы,"Возле здания не чистят снег, на авто не припор...",28 января,POINT (49.96432 53.08470)
6048,МФЦ Мои документы,Снег не чистят. Со стоянкой бардак машины став...,29 января,POINT (49.96432 53.08470)
6049,МФЦ Мои документы,"Так то нормально,но не пользуйтесь услугами юр...",29 января,POINT (49.96432 53.08470)
6050,МФЦ Мои документы,"Культурный, доброжелательный персонал. Сделали...",2 января,POINT (49.96432 53.08470)

In [75]:
reviews.drop_duplicates().to_file("final_reviews_nsk.geojson", driver="GeoJSON")